body {
    font-family: 'Helvetica';
    max-width: : 1000px;
    overflow: auto;
}

img {
  object-fit: cover;
  padding-left: 50px;
  border-radius: 50%;
  max-width: 100%;
  height:auto;
}

img.floatr{
    float: right;
}

img.paper {
  object-fit: cover;
  padding-left: 0px;
  border-radius: 0%;
}


@media only screen and (max-width: 768px) {
  body {
    margin: 100px auto;
    width: 95%;
    font-size: 0.9em
  }
}

nav ul, footer ul {
    font-family:'Helvetica';
    padding: 0px;
    list-style: none;
    font-weight: none;
}
nav ul li, footer ul li {
    font-family:Sans-serif;
    display: inline;
    margin-right: 20px;
}
a {
    font-family:Sans-serif;
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #4682B4;
    font-weight: bold;
}

i:hover {
    color: #4682B4;
}

a.int {
    font-family:Sans-serif;
    text-decoration: none;
    color: #888;
    font-size: 1.1em;
}

a.int:hover {
    color: #4682B4;
    font-weight: bold;
}

a.int:focus {
    color: #4682B4;
    font-weight: bold;
}

a.ext {
    font-family:Sans-serif;
    text-decoration: none;
    color: #191970;
}

a.ext:hover {
    color: #4682B4;
    font-weight: bold;
}

a.paper {
    font-family:Sans-serif;
    text-decoration: none;
    color: #191970;
}

a.paper:hover {
    color: #4682B4;
    font-weight: bold;
}


h1 {
    font-size: 4em;
    font-family: Tahoma;
    font-weight: normal;
}

h2 {
    font-size: 4;
    font-family: Sans-serif;
    font-weight: normal;

}

h3 {
    font-size: 1em;
    font-family:Sans-serif;
    font-weight: bold;
}

p {
    font-family:Sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
    text-align: justify;
}



li {
    font-family:Sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}


ul {
    font-family:Sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
    width: 900;
    height: 60px;
    background: white;
    opacity: 0.8;
    font-size: 1em;
    position: sticky;
    bottom: -1px;
    overflow: visible;
    clear: both;
}

ul.posts {
    font-family:Sans-serif;
    margin: 20px auto 40px;
    font-size: 1em;
}

ul.posts li {
    font-family:Sans-serif;
    list-style: none;
}
